@page "/login"
@using CryptoShoto.DTO;
@using Client.Services;
@inject LoginService loginService;
@inject IJSRuntime JSRunTime;
@inject NavigationManager NavigationManager;

<PageTitle>Login</PageTitle>

<EditForm Model="@loginModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="Email">Email:</label>
    <InputText id="name" @bind-Value="loginModel.Email" class="form-control" />

    <label for="Password">Password:</label>
    <InputText id="name" @bind-Value="loginModel.Password" class="form-control" /><br />

    <button type="submit" class="btn btn-primary">Submit</button>
    
   
</EditForm> 


@code
{
    private LoginDTO loginModel = new();
   
    private async Task HandleSubmit()
    {        
        var authModule = await JSRunTime.InvokeAsync<IJSObjectReference>("import", "./js/auth.js");
        await authModule.InvokeVoidAsync("SignIn", loginModel.Email, loginModel.Password);
    }
}