@page "/login"
@using CryptoShoto.DTO;
@using Client.Services;
@inject LoginService loginService;

<PageTitle>Login</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Claims.First().Value</h1>
    </Authorized>
</AuthorizeView>

<form action="login" method="post">
    <input type="text" name="name" />
    <input type="text" name="password" />
    <input type="submit" />
</form>
