@page "/register"
@using CryptoShoto.DTO;
@using Client.Services;
@inject IJSRuntime JSRunTime;
@inject NavigationManager NavigationManager;

<PageTitle>Register</PageTitle>

<EditForm Model="@registerModel" OnSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label for="Email">Email:</label>
    <InputText id="name" @bind-Value="registerModel.Email" class="form-control" />

    <label for="NickName">NickName:</label>
    <InputText id="name" @bind-Value="registerModel.NickName" />

    <label for="Password">Password:</label>
    <InputText id="name" @bind-Value="registerModel.Password" />

    <label for="ConfirmPassword">ConfirmPassword:</label>
    <InputText id="name" @bind-Value="registerModel.ConfirmPassword" />

    <button type="submit">Submit</button>
</EditForm> 

<br>
<br>
<br>
<br>
<br>

<button class="btn btn-primary" onclick="window.location.href='/login'">Sign in</button>

@code
{
    private RegistrationDTO registerModel = new();

    private async void HandleSubmit()
    {
        var authModule = await JSRunTime.InvokeAsync<IJSObjectReference>("import", "./js/auth.js");
        await authModule.InvokeVoidAsync("SignUp", registerModel.Email, registerModel.NickName, registerModel.Password, registerModel.ConfirmPassword, "/");
    }
}