@page "/"
@using Client.Services
@using DAL.Models
@inject NewsService newsService

<PageTitle>Index</PageTitle>


    <section>
	<div class="container">
		<div class ="first_up_home">
			<div class="leftside_home">
				<div class="intro_title_home">Hello</div>
			</div>

			<div class="rightside_home">
				<div class="news_home">
					<div class="intro_title_home">PAKA</div>
				</div>
			</div>
		</div>
	</div>
</section>



