@*@using Client.Services
@using CryptoShoto.DTO;
@inject PostService postService;
@inject NavigationManager NavigationManager;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@attribute [Authorize]

<PageTitle>Posts</PageTitle>

<AuthorizeView>
    <Authorized>

        <button class="btn btn-primary" @onclick="@ChangeProfile">ChangeProfile</button>


    </Authorized>
</AuthorizeView>

@code {
    private AuthenticationState _authenticationState;

    protected override async Task OnInitializedAsync()
    {
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (!_authenticationState.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
    }



    private async Task DeletePost()
    {
    }

}*@